/* Google Fonts Typography*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --text-primary: #FFF;
  --text-gray: #C2C2C2;
  --color-green: #00BFA6;
  --bg-primary: #2C2B3D;
}

/* HTML5 display-role reset for browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--bg-primary);
}

h1, a, footer {
  text-decoration: none;
  color: var(--text-primary);
}

a:hover {
  opacity: .5;
  transform: all .2s;
}

.page {
  width: 1090px;
  margin: 0 auto;
  padding-top: 71px;
}

/* NavBar */
nav {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 64px;
  list-style: none;
  font-weight: 500;
}

/* Main */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

/* section */
section h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: end;
}


section span {
  color: var(--color-green);
}

p span {
  font-weight: bold;
}

section p {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-gray);
  margin: 40px 0;
  text-align: center;
}

.line {
  width: 568px;
  height: 0;
  margin: 157px auto 27px;
  border: 1px solid var(--color-green);
  
}

/* Footer */
footer {
  font-size: 14px;
  text-align: center;
}

#padlock-decoration {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
